{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}
{% block content %}

<div class="container-xl justifi bg-light">
    <div class=" row pt-3">
        <div class="col-3">
            {% if not user.is_staff %}
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content"></div>
                </div>
            </div>
            <button id="create-project" class="btn btn-success" type="button" name="button">Create Project</button>


            {% endif %}
        </div>
        <div class="col-9">
            <div class="input-group ">
                <div class="form-inline row float-right">
                    <div class="dropdown mr-2">
                        <div class="form-inline">
                          <label class="mr-2">Stav</label>
                          <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownPhases" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                            Všetky
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownPhases">
                            <button class="dropdown-item" type="button">Action</button>

                          </div>
                        </div>

                    </div>

                  <input class="form-control" type="search"  placeholder="Search" aria-label="Search" />
                  <button type="button" class="btn btn-primary ml-2">
                    Vyhľadať
                  </button>
                </div>
            </div>
        </div>
      </div>
      <table class="table mt-3" id="projects-table">
        <tr>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Project name</th>
                    <th scope="col">Project manager</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">State</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
              {% for project in object_list %}
                <tr>
                    <td><a href="{% url 'project-detail' project.pk %}">{{ project.name }}</a></td>
                    <td>{{ project.project_manager }}</td>
                    <td>{{ project.start_date }}</td>
                    <td> {{ project.estimated_end_date }}</td>
                    <td><!----></td>
                    <td>
                      <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content"></div>
                        </div>
                    </div>


                    <button type="button" class="update-project btn btn-sm btn-success" data-form-url="{% url 'project-update' project.pk %}">
                      <span class="fa fa-pencil">Edit</span>
                    </button>
                     <!--
                       <button id="update-project" class="btn-success" type="button" name="button">Edit</button>
                      <button class="btn-warning"><a href="{% url 'project-update' project.pk %}">Edit</a></button> -->
                    </td>
                </tr>
               {% endfor %}
            </tbody>
    </table>


</div>
{% endblock content %}

{% block js %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {

        $("#create-project").modalForm({
            formURL: "{% url 'project-create' %}"
        });


        function UpdateProjectForm() {
          $(".update-project").each(function () {
            $(this).modalForm({
              formURL: $(this).data("form-url"),
              asyncUpdate: true,
              asyncSettings: {
                closeOnSubmit: false,
                dataUrl: "project/",
                dataElementId: "#projects-table",
                dataKey: "table",
                addModalFormFunction: UpdateProjectForm
              }
            });
          });
        }
        UpdateProjectForm();


    });

    </script>

{% endblock js %}

  <!--  <ul>
    {% for project in object_list %}
    <li><a href="{% url 'project-detail' project.pk %}">{{ project.name }}</a> - </li>
    {% endfor %}
    </ul>-->
