{% extends 'base.html' %}
{% block title %}Project Detail{% endblock title %}
{% block content %}
    <p>{{ object.name }}</p>
    <div>
        <a href="{% url 'project-phase-create' object.pk %}">Create Phase</a>
    </div>
    <h4>Phases</h4>
    <ul>
    {% for phase in phases %}
        <li><a href="{% url 'project-phase-detail' phase.pk %}">{{ phase.name }}</a> - <a href="{% url 'project-phase-update' phase.pk %}">Edit</a></li>
    {% endfor %}
    </ul>
    <h4>Customers</h4>
    <ul>
    {% for user in users %}
        <li>{{ user.username }}</li>
    {% endfor %}
    </ul>
{% endblock content %}
