{% extends 'risk/project_detail.html' %}

{% block projekt-div %}
<div class="bg-light col-10">
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">Basic info</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <dl class="col-sm-6 row">
                    <dt class="col-sm-4">Risk name</dt>
                    <dd class="col-sm-8">{{object.name}}</dd>
                    <dt class="col-sm-4">Threat</dt>
                    <dd class="col-sm-8">{{object.threat}}</dd>
                    <dt class="col-sm-4">Spúšťač</dt>
                    <dd class="col-sm-8">{{object.starter}}</dd>
                    <dt class="col-sm-4">Owner</dt>
                    <dd class="col-sm-8">{{object.risk_assignee}}</dd>
                    <dt class="col-sm-4">Description</dt>
                    <dd class="col-sm-8">{{object.description}}</dd>
                </dl>
                <dl class="col-sm-6 row">
                    <dt class="col-sm-4">Category</dt>
                    <dd class="col-sm-8">{{object.risk_type}</dd>
                    <dt class="col-sm-4">State</dt>
                    <dd class="col-sm-8">{{object.state}</dd>

                </dl>

            </div>

        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">Výpočet rizika</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <dl class="col-sm-6 row">
                    <dt class="col-sm-4">Probability</dt>
                    <dd class="col-sm-8"> book.name }}</dd>
                    <dt class="col-sm-4">Risk</dt>
                    <dd class="col-sm-8"> book.isbn_number }}</dd>
                </dl>
                <dl class="col-sm-6 row">
                    <dt class="col-sm-4">Impact</dt>
                    <dd class="col-sm-8"> book.name }}</dd>
                    <dt class="col-sm-4">End date</dt>
                    <dd class="col-sm-8"> book.isbn_number }}</dd>

                </dl>

            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">Reakcia na riziko</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">Description</dt>
                <dd class="col-sm-8"> book.name }}</dd>
            </dl>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <dt >Start date</dt>
            <dd > book.name }}</dd>
        </div>
        <div class="col-2">
            <dt >Change date</dt>
            <dd > book.name }}</dd>
        </div>
        <div class="col-2">
            <dt >Reaction date</dt>
            <dd > book.name }}</dd>
        </div>
        <div class="col-6">
            <div  class="float-right">
                <button type="button" class="btn btn-danger">Deaktivate</button>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-warning">Print</button>
            </div>
        </div>


    </div>

</div>
{% endblock projekt-div %}
