{% extends 'risk/project_detail.html' %}

{% block projekt-div %}
  <div class="bg-light col-10">
    <div class="row mt-3">

      <div class="col-md-3 dropdown">
        <div class="form-inline">
          <label class="mr-2">Etapy</label>
          <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownPhases" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
            Všetky
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownPhases">
            <button class="dropdown-item" type="button">Action</button>

          </div>
        </div>

      </div>
      <div class="col-md-3 dropdown">
        <div class="form-inline">
          <label class="mr-2">Kategória</label>
          <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Všetky
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownCategory">
            <button class="dropdown-item" type="button">Action</button>
          </div>
        </div>

      </div>
      <div class="col-md-3 dropdown">
        <div class="form-inline">
          <label class="mr-2">Podkategória</label>
          <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownSubCat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Všetky
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownSubCat">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div>

      </div>
      <div class="col-md-3 input-group float-right">
        <div class="form-inline">
          <input class="form-control" type="search"  placeholder="Search" aria-label="Search" />
          <button type="button" class="btn btn-primary ">
            Vyhľadať
          </button>
        </div>
    </div>

    </div>
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1 row btn-group btn-group-toggle" data-toggle="buttons">
          <label class="col-md-4 btn btn-secondary active">
            <input type="radio" name="options" id="propF" autocomplete="off"> Pravdepodobnosť
          </label>
          <label class="col-md-4 btn btn-secondary">
            <input type="radio" name="options" id="dopF" autocomplete="off"> Dopad
          </label>
          <label class=" col-md-4 btn btn-secondary">
            <input type="radio" name="options" id="stateF" autocomplete="off"> Stav
          </label>



      </div>
    </div>

        <div class="m-3 p-3 card" id="propFD" style="display: none;">
          <div class="form-check-inline ">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
        </div>

        <div class="m-3 p-3 card" id="dopFD" style="display: none;">
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
        </div>

        <div class="m-3 p-3 card" id="stateFD" style="display: none;">
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
        </div>


    <div class="row mt-3">
       <div class="col-md-4 offset-md-4">


      </div>
    </div>
    <div class="card mt-3">

      <div class="card-body">
          <table class="table">
              <tr>
                  <thead class="thead-light">
                      <tr>
                          <th scope="col">Risk name</th>
                          <th scope="col">Category</th>
                          <th scope="col">Threat</th>
                          <th scope="col">Starter</th>
                          <th scope="col">Owner</th>
                          <th scope="col">Probability</th>
                          <th scope="col">Impact</th>
                          <th scope="col">Risk</th>
                          <th scope="col">Reaction</th>
                          <th scope="col">State</th>
                          <th scope="col">Create date</th>
                          <th scope="col">Modifi</th>
                          <th scope="col">Reaction date</th>

                      </tr>
                  </thead>
                  <tbody>
                     <!-- {% for risk in risks %} -->
                      <tr>
                          <td><!--risk.name--></td>
                          <td>risk.risk_type</td>
                          <td>risk.threat</td>
                          <td>risk.starter</td>
                          <td>risk.risk_assignee</td>
                          <td>risk.probability</td>
                          <td>risk.impact</td>
                          <td>risk.</td>
                          <td>risk.reaction</td>
                          <td>risk.state</td>
                          <td>risk.start_date</td>
                          <td>risk.state_change_date</td>
                          <td>risk.reaction_date</td>
                      </tr>
                     <!-- {% endfor %} -->
                  </tbody>
          </table>

      </div>
  </div>
  </div>
{% endblock projekt-div %}


{% block js %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {

        $("#propF").click(function(){
          $("#dopFD").hide();
          $("#stateFD").hide();
          $("#propFD").toggle();

              });
        $("#dopF").click(function(){
          $("#stateFD").hide();
          $("#propFD").hide();
          $("#dopFD").toggle();
              });
        $("#stateF").click(function(){
          $("#propFD").hide();
          $("#dopFD").hide();
          $("#stateFD").toggle();
              });
      });

</script>
{% endblock js %}
